.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 16px;
}

mat-card {
  border-radius: 16px;
}

button {
  align-self: center;
  height: 56px;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
  background-color: #f5f5f5;
}

td, th {
  padding: 12px !important;
}

/* Hover elegante */
table tr:hover {
  background-color: #f9f9f9;
  transition: 0.2s;
}

/* Responsive */
@media (max-width: 768px) {
  .form-card {
    grid-template-columns: 1fr;
  }
}
